Repository ZPTXDev/Quaver, pull requests merged in 2022-07, with the labels that each got.

#301 feat: use SQLite for storage
  .gitignore
  classes/DataHandler.js
  classes/PlayerHandler.js
  classes/ReplyHandler.js
  commands/247.js
  commands/bassboost.js
  commands/bind.js
  commands/disconnect.js
  commands/locale.js
  commands/loop.js
  commands/nightcore.js
  commands/ping.js
  commands/play.js
  commands/playing.js
  commands/queue.js
  commands/search.js
  commands/skip.js
  commands/volume.js
  events/interactionCreate.js
  events/music/connect.js
  events/music/queueFinish.js
  events/music/trackEnd.js
  events/music/trackStart.js
  events/voiceStateUpdate.js
  locales/en/cmd.json
  main.js
  migrate.js
  package-lock.json
  package.json
  settings.example.json
  shared.js
Labels: type:enhancement, affects:functionality, priority:p2

#304 refactor: rename database to database_uri
  settings.example.json
  shared.js
Labels: type:enhancement, priority:p2

#303 refactor: rename voiceData to payload
  main.js
Labels: type:enhancement, priority:p2

#307 feat: add await to callers of shuttingDown()
  events/music/error.js
  main.js
Labels: type:enhancement, priority:p3

#308 refactor: use nullish coalescing operator instead of an assignment
  shared.js
Labels: type:enhancement, priority:p3

#317 refactor: use PlayerHandler#send on shuttingDown()
  classes/PlayerHandler.js
  main.js
Labels: type:enhancement, priority:p3

#318 refactor: use await for remaining shuttingDown() invokers
  main.js
Labels: priority:p3

#319 fix: handle other LoadTypes
  commands/play.js
  locales/en/cmd.json
Labels: type:bug, priority:p2, pr:type:fix

#321 docs: update docs
  classes/DataHandler.js
  classes/PlayerHandler.js
  classes/ReplyHandler.js
  commands/247.js
  commands/bassboost.js
  commands/bind.js
  commands/clear.js
  commands/disconnect.js
  commands/info.js
  commands/locale.js
  commands/loop.js
  commands/move.js
  commands/nightcore.js
  commands/pause.js
  commands/ping.js
  commands/play.js
  commands/playing.js
  commands/queue.js
  commands/remove.js
  commands/resume.js
  commands/search.js
  commands/seek.js
  commands/shuffle.js
  commands/skip.js
  commands/stop.js
  commands/volume.js
  events/error.js
  events/guildCreate.js
  events/guildDelete.js
  events/interactionCreate.js
  events/music/error.js
  events/music/queueFinish.js
  events/music/trackEnd.js
  events/music/trackStart.js
  events/ready.js
  events/shardError.js
  events/voiceStateUpdate.js
  functions.js
  main.js
Labels: pr:docs, type:enhancement, priority:p3

#322 fix: use return instead of break
  commands/play.js
Labels: type:bug, affects:functionality, priority:p0, pr:type:fix

#324 fix: incorrect locale key
  commands/247.js
Labels: type:bug, affects:locale, priority:p0, pr:type:fix

#327 fix: trigger pause timeout when there are no humans
  events/voiceStateUpdate.js
Labels: type:bug, priority:p3, pr:type:fix

#329 fix: rare pause timeout bug
  events/music/queueFinish.js
  events/voiceStateUpdate.js
Labels: type:bug, priority:p3, pr:type:fix

#342 refactor(voiceStateUpdate): use get() method instead of find()
  events/voiceStateUpdate.js
Labels: type:enhancement, priority:p1, status:tested, status:confirmed

#345 fix(voiceStateUpdate): set pause timeout when moved to stage
  events/voiceStateUpdate.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#348 refactor(voiceStateUpdate): remove redundant statement
  events/voiceStateUpdate.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#351 refactor: add missing await to PlayerHandler method invokes
  events/guildDelete.js
  events/music/queueFinish.js
  events/music/trackEnd.js
  events/voiceStateUpdate.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#349 docs(voiceStateUpdate): update documentation
  events/voiceStateUpdate.js
Labels: affects:documentation, type:enhancement, priority:p3, status:tested, status:confirmed

#334 refactor: button handler using Collection()
  components/buttons/cancelButton.js
  components/buttons/queueButton.js
  events/interactionCreate.js
  locales/en/discord.json
  main.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#354 refactor: select menu handler using Collection()
  components/selects/playSelect.js
  events/interactionCreate.js
  main.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#355 fix: do not set a "new pause timeout" if it exists
  events/voiceStateUpdate.js
Labels: type:bug, affects:functionality, priority:p0, pr:type:fix, status:tested, status:confirmed

#367 refactor: use lavaclient's Player#position instead
  commands/playing.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#368 refactor: change component file names
  components/buttons/cancel.js
  components/buttons/queue.js
  components/selects/play.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#370 fix: stage is already open bug
  commands/play.js
  components/selects/play.js
  events/music/connect.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#358 fix(voiceStateUpdate): do not set pause timeout if timeout exists
  events/voiceStateUpdate.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#372 fix(PlayerHandler#send): catch undefined text channels
  classes/PlayerHandler.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#374 fix(guildDelete): remove redundant invocation of PlayerHander#disconnect
  classes/PlayerHandler.js
  events/guildDelete.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#377 feat: update to discord.js v14
  classes/PlayerHandler.js
  classes/ReplyHandler.js
  commands/247.js
  commands/bassboost.js
  commands/bind.js
  commands/clear.js
  commands/disconnect.js
  commands/info.js
  commands/locale.js
  commands/loop.js
  commands/move.js
  commands/nightcore.js
  commands/pause.js
  commands/ping.js
  commands/play.js
  commands/playing.js
  commands/queue.js
  commands/remove.js
  commands/resume.js
  commands/search.js
  commands/seek.js
  commands/shuffle.js
  commands/skip.js
  commands/stop.js
  commands/volume.js
  components/buttons/cancel.js
  components/buttons/queue.js
  components/selects/play.js
  events/interactionCreate.js
  events/ready.js
  events/voiceStateUpdate.js
  main.js
  package-lock.json
  package.json
Labels: type:enhancement, priority:p1, pr:type:feat, status:tested, status:confirmed

#382 refactor(voiceStateUpdate): revert previously ineffective fix
  events/voiceStateUpdate.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#383 fix: let voiceStateUpdate unsuppress instead
  commands/play.js
  components/selects/play.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#387 refactor(select-play): send the locale before invoking PlayerHandler#disconnect
  components/selects/play.js
Labels: type:enhancement, affects:locale, priority:p3, status:tested, status:confirmed

#386 fix: destroy the player if timed out while queuing tracks
  commands/play.js
  components/selects/play.js
Labels: type:bug, affects:locale, priority:p0, pr:type:fix, status:tested, status:confirmed

#396 refactor: add failsafe to prevent reconnecting if guild is missing
  events/music/connect.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#394 fix(PlayerHandler#disconnect): do not end stage if timed out
  classes/PlayerHandler.js
Labels: type:bug, affects:permissions, priority:p3, pr:type:fix, status:tested, status:confirmed

#393 fix: check for guild before queuing tracks
  commands/play.js
  components/selects/play.js
Labels: type:bug, affects:locale, affects:permissions, priority:p0, pr:type:fix, status:tested, status:confirmed

#399 fix: do not skip if nothing is playing
  commands/skip.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#401 feat: defaultColor variants
  CONFIGURATION.md
  classes/PlayerHandler.js
  classes/ReplyHandler.js
  commands/247.js
  commands/bind.js
  commands/clear.js
  commands/disconnect.js
  commands/info.js
  commands/locale.js
  commands/loop.js
  commands/move.js
  commands/nightcore.js
  commands/pause.js
  commands/ping.js
  commands/play.js
  commands/playing.js
  commands/queue.js
  commands/remove.js
  commands/resume.js
  commands/search.js
  commands/seek.js
  commands/shuffle.js
  commands/skip.js
  commands/stop.js
  commands/volume.js
  components/buttons/cancel.js
  components/selects/play.js
  events/interactionCreate.js
  events/music/queueFinish.js
  events/music/trackEnd.js
  events/music/trackStart.js
  events/voiceStateUpdate.js
  main.js
  settings.example.json
Labels: affects:documentation, type:enhancement, priority:p2, pr:type:feat, status:tested, status:confirmed

#402 refactor(command-search): remove ephemeral property
  commands/search.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#409 refactor: misc enhancements
  events/guildDelete.js
  events/voiceStateUpdate.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#410 docs: improve documentation
  events/music/trackStart.js
  events/voiceStateUpdate.js
Labels: affects:documentation, type:enhancement, priority:p3, status:tested, status:confirmed
