Repository ZPTXDev/Quaver, pull requests merged in 2022-08, with the labels that each got.

#414 refactor(command-queue): paginate only when there are tracks
  commands/queue.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#417 refactor: use try-catch-finally in shuttingDown()
  main.js
Labels: type:enhancement, affects:functionality, priority:p1, status:tested, status:confirmed

#419 fix(command-resume): start queue when resumed while paused
  commands/resume.js
Labels: type:bug, affects:functionality, priority:p0, pr:type:fix, status:tested, status:confirmed

#426 refactor(interactionCreate): change constant and property name
  src/events/interactionCreate.js
Labels: type:enhancement, priority:p0, status:tested, status:confirmed

#438 refactor: misc enhancements
  lib/PlayerHandler.js
  src/commands/pause.js
  src/commands/resume.js
  src/events/music/trackStart.js
  src/events/voiceStateUpdate.js
  src/main.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#437 chore(scripts): update REST and discord-api-types used to v10
  scripts/delete-commands.js
  scripts/deploy-commands.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#429 refactor: use arrow function instead
  src/main.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#430 refactor(event-error): shut down on Client#error and update log message
  src/events/error.js
Labels: type:enhancement, affects:functionality, priority:p3, status:tested, status:confirmed

#432 refactor: log event type on shut down
  src/main.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#433 refactor: only show log when there are sessions
  src/main.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#441 fix(event-error): circular import
  src/events/error.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#439 refactor: remove redundant await
  src/main.js
Labels: type:enhancement, priority:p1, status:tested, status:confirmed

#427 docs: update documentation
  lib/DataHandler.js
  lib/PlayerHandler.js
  lib/ReplyHandler.js
  src/commands/247.js
  src/commands/bassboost.js
  src/commands/bind.js
  src/commands/clear.js
  src/commands/disconnect.js
  src/commands/info.js
  src/commands/locale.js
  src/commands/loop.js
  src/commands/move.js
  src/commands/nightcore.js
  src/commands/pause.js
  src/commands/ping.js
  src/commands/play.js
  src/commands/playing.js
  src/commands/queue.js
  src/commands/remove.js
  src/commands/resume.js
  src/commands/search.js
  src/commands/seek.js
  src/commands/shuffle.js
  src/commands/skip.js
  src/commands/stop.js
  src/commands/volume.js
  src/components/buttons/cancel.js
  src/components/selectmenus/play.js
  src/events/interactionCreate.js
  src/events/music/queueFinish.js
  src/events/music/trackEnd.js
  src/events/music/trackStart.js
  src/events/ready.js
  src/events/voiceStateUpdate.js
  src/main.js
Labels: affects:documentation, type:enhancement, priority:p3, status:tested, status:confirmed

#443 refactor(command-search): use ReplyHandler#reply
  src/commands/search.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#445 feat(command-play): disable feature if spotify credentials are blank
  locales/en/cmd.js
  src/commands/play.js
Labels: type:enhancement, affects:locale, priority:p3, pr:type:feat, status:tested, status:confirmed

#452 fix(util-common): use correct property
  lib/util/common.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#457 fix(command-247): set timeout on 24/7 disable while nothing playing
  src/commands/247.js
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#464 feat: initial Quaver-Web support
  lib/PlayerHandler.js
  lib/util/util.js
  package-lock.json
  package.json
  settings.example.js
  src/commands/247.js
  src/commands/bassboost.js
  src/commands/bind.js
  src/commands/clear.js
  src/commands/loop.js
  src/commands/move.js
  src/commands/nightcore.js
  src/commands/pause.js
  src/commands/play.js
  src/commands/remove.js
  src/commands/resume.js
  src/commands/shuffle.js
  src/commands/skip.js
  src/commands/stop.js
  src/commands/volume.js
  src/components/selectmenus/play.js
  src/events/music/queueFinish.js
  src/events/music/trackStart.js
  src/events/ready.js
  src/events/timer.js
  src/events/voiceStateUpdate.js
  src/events/web/exchange.js
  src/events/web/fetchguilds.js
  src/events/web/fetchuser.js
  src/events/web/join.js
  src/events/web/request.js
  src/events/web/update.js
  src/main.js
Labels: type:enhancement, priority:p1, pr:type:feat, status:tested, status:confirmed

#465 feat: simplify guild locales
  lib/PlayerHandler.js
  lib/ReplyHandler.js
  lib/util/util.js
  src/commands/247.js
  src/commands/bassboost.js
  src/commands/loop.js
  src/commands/nightcore.js
  src/commands/ping.js
  src/commands/play.js
  src/commands/playing.js
  src/commands/queue.js
  src/commands/search.js
  src/commands/skip.js
  src/commands/volume.js
  src/components/buttons/cancel.js
  src/components/buttons/queue.js
  src/components/selectmenus/play.js
  src/events/music/queueFinish.js
  src/events/music/trackStart.js
  src/events/voiceStateUpdate.js
Labels: type:enhancement, affects:locale, priority:p1, pr:type:feat, status:tested, status:confirmed

#467 feat: simplify embeds and handlers
  lib/PlayerHandler.js
  lib/ReplyHandler.js
  lib/util/util.js
  src/commands/247.js
  src/commands/bassboost.js
  src/commands/bind.js
  src/commands/clear.js
  src/commands/disconnect.js
  src/commands/info.js
  src/commands/locale.js
  src/commands/loop.js
  src/commands/move.js
  src/commands/nightcore.js
  src/commands/pause.js
  src/commands/ping.js
  src/commands/play.js
  src/commands/playing.js
  src/commands/queue.js
  src/commands/remove.js
  src/commands/resume.js
  src/commands/search.js
  src/commands/seek.js
  src/commands/shuffle.js
  src/commands/skip.js
  src/commands/stop.js
  src/commands/volume.js
  src/components/buttons/cancel.js
  src/components/selectmenus/play.js
  src/events/interactionCreate.js
  src/events/music/queueFinish.js
  src/events/music/trackEnd.js
  src/events/music/trackStart.js
  src/events/voiceStateUpdate.js
  src/main.js
Labels: type:enhancement, priority:p1, pr:type:feat, status:tested, status:confirmed

#469 refactor: change "locale" to "language"
  locales/ceb/cmd.js
  locales/en/cmd.js
  locales/fil/cmd.js
  src/commands/language.js
Labels: type:enhancement, affects:locale, priority:p2, status:tested, status:confirmed

#472 refactor: use getGuildLocale() instead of getLocale()
  src/main.js
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#473 docs: remove additional bracket
  src/events/interactionCreate.js
Labels: affects:documentation, type:enhancement, priority:p3, status:tested, status:confirmed

#474 feat: confirmation dialog for clear related commands
  locales/en/cmd.js
  locales/en/misc.js
  src/commands/clear.js
  src/commands/disconnect.js
  src/commands/stop.js
  src/components/buttons/cancel.js
  src/components/buttons/clear.js
  src/components/buttons/disconnect.js
  src/components/buttons/stop.js
Labels: type:enhancement, priority:p1, pr:type:feat, status:tested, status:confirmed

#482 feat: persist search across pages
  locales/en/misc.js
  src/commands/search.js
  src/components/buttons/cancel.js
  src/components/buttons/search.js
  src/components/selectmenus/search.js
Labels: type:enhancement, priority:p1, pr:type:feat, status:tested, status:confirmed
