Repository ZPTXDev/Quaver, pull requests merged in 2022-10, with the labels that each got.

#523 refactor: misc name changes
  lib/PlayerHandler.js
  lib/ReplyHandler.js
  lib/util/util.js
  scripts/deploy-commands.js
  settings.example.js
  src/commands/247.js
  src/commands/bassboost.js
  src/commands/bind.js
  src/commands/clear.js
  src/commands/disconnect.js
  src/commands/info.js
  src/commands/loop.js
  src/commands/move.js
  src/commands/nightcore.js
  src/commands/pause.js
  src/commands/ping.js
  src/commands/play.js
  src/commands/playing.js
  src/commands/queue.js
  src/commands/remove.js
  src/commands/resume.js
  src/commands/search.js
  src/commands/seek.js
  src/commands/settings.js
  src/commands/shuffle.js
  src/commands/skip.js
  src/commands/stop.js
  src/commands/volume.js
  src/components/buttons/cancel.js
  src/components/buttons/format.js
  src/components/buttons/search.js
  src/components/selectmenus/language.js
  src/components/selectmenus/search.js
  src/components/selectmenus/settings.js
  src/events/interactionCreate.js
  src/events/music/trackEnd.js
  src/main.js
Labels: type:enhancement, priority:p1, status:tested, status:confirmed

#530 chore: resolve patch-package warning
  patches/@lavaclient+queue+2.1.1.patch
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#529 refactor(util#getGuildLocaleString): optimize function
  src/lib/util/util.ts
Labels: type:enhancement, priority:p2, status:tested, status:confirmed

#532 refactor: optimize locale method
  src/lib/PlayerHandler.ts
  src/lib/ReplyHandler.ts
Labels: type:enhancement, affects:locale, priority:p3, status:tested, status:confirmed

#533 refactor: import types
  .eslintrc.json
  src/autocomplete/move.ts
  src/autocomplete/play.ts
  src/autocomplete/remove.ts
  src/autocomplete/search.ts
  src/commands/247.ts
  src/commands/bassboost.ts
  src/commands/bind.ts
  src/commands/clear.ts
  src/commands/disconnect.ts
  src/commands/info.ts
  src/commands/loop.ts
  src/commands/move.ts
  src/commands/nightcore.ts
  src/commands/pause.ts
  src/commands/ping.ts
  src/commands/play.ts
  src/commands/playing.ts
  src/commands/queue.ts
  src/commands/remove.ts
  src/commands/resume.ts
  src/commands/search.ts
  src/commands/seek.ts
  src/commands/settings.ts
  src/commands/shuffle.ts
  src/commands/skip.ts
  src/commands/stop.ts
  src/commands/volume.ts
  src/components/buttons/cancel.ts
  src/components/buttons/clear.ts
  src/components/buttons/disconnect.ts
  src/components/buttons/format.ts
  src/components/buttons/queue.ts
  src/components/buttons/search.ts
  src/components/buttons/stop.ts
  src/components/modals/queue.ts
  src/components/selectmenus/language.ts
  src/components/selectmenus/search.ts
  src/components/selectmenus/settings.ts
  src/events/guildCreate.ts
  src/events/guildDelete.ts
  src/events/interactionCreate.ts
  src/events/music/connect.ts
  src/events/music/queueFinish.ts
  src/events/music/trackEnd.ts
  src/events/music/trackStart.ts
  src/events/ready.ts
  src/events/timer.ts
  src/events/voiceStateUpdate.ts
  src/events/web/exchange.ts
  src/events/web/fetchguilds.ts
  src/events/web/fetchuser.ts
  src/events/web/join.ts
  src/events/web/request.ts
  src/events/web/update.ts
  src/lib/PlayerHandler.ts
  src/lib/ReplyHandler.ts
  src/lib/util/common.ts
  src/lib/util/util.ts
  src/main.ts
Labels: type:enhancement, priority:p3, status:tested, status:confirmed

#543 refactor: use a boolean for web.https
  CONFIGURATION.md
  settings.example.json
  src/lib/util/settings.ts
  src/main.ts
Labels: affects:documentation, type:enhancement, priority:p3, status:tested, status:confirmed

#553 refactor(locales): markdown inconsistency
  locales/en/cmd.js
  locales/en/music.js
Labels: type:enhancement, affects:locale, priority:p3, status:tested, status:confirmed

#556 refactor: use colon for custom IDs
  src/commands/queue.ts
  src/commands/search.ts
  src/components/buttons/format.ts
  src/components/buttons/queue.ts
  src/components/buttons/search.ts
  src/components/modals/queue.ts
  src/events/interactionCreate.ts
  src/lib/util/util.ts
Labels: type:enhancement, priority:p1, status:tested, status:confirmed
