Repository ZPTXDev/Quaver, pull requests merged in 2025-04, with the labels that each got.

#1341 refactor(interactionCreate): carefully reduce nesting and flatten for clarity
  src/autocompletes/move.ts
  src/autocompletes/play.ts
  src/autocompletes/remove.ts
  src/autocompletes/search.ts
  src/commands/chatInputCommands/247.ts
  src/commands/chatInputCommands/bassboost.ts
  src/commands/chatInputCommands/bind.ts
  src/commands/chatInputCommands/clear.ts
  src/commands/chatInputCommands/disconnect.ts
  src/commands/chatInputCommands/info.ts
  src/commands/chatInputCommands/loop.ts
  src/commands/chatInputCommands/lyrics.ts
  src/commands/chatInputCommands/move.ts
  src/commands/chatInputCommands/nightcore.ts
  src/commands/chatInputCommands/pause.ts
  src/commands/chatInputCommands/ping.ts
  src/commands/chatInputCommands/play.ts
  src/commands/chatInputCommands/playing.ts
  src/commands/chatInputCommands/queue.ts
  src/commands/chatInputCommands/remove.ts
  src/commands/chatInputCommands/resume.ts
  src/commands/chatInputCommands/search.ts
  src/commands/chatInputCommands/seek.ts
  src/commands/chatInputCommands/settings.ts
  src/commands/chatInputCommands/shuffle.ts
  src/commands/chatInputCommands/skip.ts
  src/commands/chatInputCommands/stop.ts
  src/commands/chatInputCommands/volume.ts
  src/components/modalSubmits/queue.ts
  src/components/roleSelectMenus/dj.ts
  src/components/stringSelectMenus/language.ts
  src/components/stringSelectMenus/search.ts
  src/components/stringSelectMenus/settings.ts
  src/components/stringSelectMenus/source.ts
  src/events/interactionCreate.d.ts
  src/events/interactionCreate.ts
  src/lib/ReplyHandler.ts
  src/lib/util/common.d.ts
  src/lib/util/util.ts
  src/main.ts
Labels: affects:documentation, type:enhancement, affects:functionality, priority:p3, status:tested, status:confirmed, branch:next

#1346 refactor(scripts): fix scripts
  scripts/delete-global-commands.js
  scripts/delete-guild-commands.js
  scripts/modules/configHandler.js
  scripts/modules/routes.js
  scripts/register-global-commands.js
  scripts/register-guild-commands.js
Labels: type:enhancement, priority:p3, status:tested, status:confirmed, branch:next

#1361 chore: remove unused dependencies
  package.json
  pnpm-lock.yaml
Labels: type:bug, type:enhancement, affects:dependencies, priority:p3, status:tested, status:confirmed

#1363 chore(crowdin): update workflow permissions
  .github/workflows/crowdin.yml
Labels: affects:documentation, type:enhancement, affects:permissions, priority:p3, status:tested, status:confirmed

#1369 fix: error when responding to dm
  src/lib/util/util.ts
Labels: type:bug, priority:p1, pr:type:fix, status:tested, status:confirmed

#1371 feat: inform user lavaclient connecting
  locales/en/music.js
  package.json
  pnpm-lock.yaml
  src/commands/chatInputCommands/play.ts
  src/commands/chatInputCommands/search.ts
  src/components/buttons/search.ts
  src/events/web/update.ts
Labels: type:enhancement, priority:p2, pr:type:feat, status:tested, status:confirmed

#1368 fix: sanitise placeholder inputs
  src/lib/util/util.ts
Labels: type:bug, priority:p1, pr:type:fix, status:tested, status:confirmed

#1377 fix: update track end reason
  locales/en/music.js
  src/events/music/trackEnd.ts
Labels: type:bug, priority:p0, pr:type:fix, status:tested, status:confirmed

#1378 refactor(scripts-jsonCommands): move promises[] to function scope
  scripts/modules/jsonCommands.js
Labels: affects:locale, priority:p3, status:tested, status:confirmed, branch:next

#1382 chore(labeler): update config to use proper escape sequence
  .github/labeler.yml
Labels: priority:p3, status:confirmed, branch:next

#1390 refactor: remove unnecessary escapeMarkdown usages
  src/commands/chatInputCommands/move.ts
  src/commands/chatInputCommands/play.ts
  src/commands/chatInputCommands/remove.ts
  src/commands/chatInputCommands/skip.ts
  src/components/buttons/search.ts
  src/events/music/trackEnd.ts
  src/events/music/trackStart.ts
  src/lib/util/util.ts
Labels: priority:p3, status:tested, status:confirmed

#1385 feat: improved autocomplete
  package.json
  pnpm-lock.yaml
  src/autocompletes/play.ts
  src/autocompletes/search.ts
  src/lib/util/common.ts
  src/lib/util/constants.ts
Labels: affects:locale, priority:p2, pr:type:feat, status:tested, status:confirmed

#1386 refactor: avoid database call when overridden
  src/commands/chatInputCommands/play.ts
  src/events/web/update.ts
Labels: priority:p2, status:tested, status:confirmed
