Repository ZPTXDev/Quaver, pull requests merged in 2025-03, with the labels that each got.

#1324 fix(main#discordClient): await login and destroy
  src/main.ts
Labels: type:enhancement, priority:p2, pr:type:fix, status:tested, status:confirmed, branch:next

#1326 fix(voiceStateUpdate): ensure Quaver is unsuppressed after stage instance creation (Fixes #1325)
  src/events/voiceStateUpdate.ts
Labels: type:bug, affects:functionality, priority:p1, pr:type:fix, status:tested, status:confirmed, branch:next

#1328 refactor(voiceStateUpdate): reduce nesting and flatten for clarity
  src/events/voiceStateUpdate.ts
Labels: affects:documentation, type:enhancement, affects:permissions, affects:functionality, priority:p3, status:tested, status:confirmed, branch:next

#1330 feat: source emojis
  CONFIGURATION.md
  locales/en/music.js
  settings.example.json
  src/events/music/trackStart.ts
  src/lib/util/settings.d.ts
  src/lib/util/util.ts
Labels: affects:documentation, type:enhancement, affects:locale, affects:functionality, priority:p2, pr:type:feat, status:tested, status:confirmed

#1331 refactor: file loading abstraction
  src/lib/util/moduleLoaderUtils.d.ts
  src/lib/util/moduleLoaderUtils.ts
Labels: affects:documentation, type:enhancement, affects:locale, priority:p3, status:confirmed, branch:next

#1332 refactor(voiceStateUpdate): remove unused parameter
  src/events/voiceStateUpdate.ts
Labels: type:enhancement, priority:p3, status:tested, status:confirmed, branch:next
